<h1>Music Streaming Listener Preferences</h1>
<h2>User List</h2>

<div id="extra_data">
  <h3><a href="/listener_preferences/top_lists">See top lists here</a></h3>
  <h3><a href="/listener_preferences/create_user">Create user</a></h3>
</div>
<br>
<div id="listener_preference">
    <br>

    <%= form_tag(listener_preferences_path, :method => :get, id: "filter-form") do %>
      <%= select_tag :genre, options_for_select(@genre_list), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>


    <%= form_tag(listener_preferences_path, :method => :get, id: "search-form") do %>
      <%= text_field_tag :user_id %>
      <%= submit_tag "Search" %>
    <% end %>

    <h3> Users filtered by genre: <%= params[:genre] %></h3>
    <h3> Searching for user: <%= params[:user_id] %></h3>

    <table>
      <% @listener_preferences.each do |listener_preference| %>
        <tr>
          <td rowspan="20">
            <%= link_to listener_preference.user_id, listener_preference %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
<%= render "footer" %>